/* AnswerDisplay.css */
.answerDisplay {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(6px); /* Apply blur effect */
    border: 2px solid #550F08; /* Dark Red Border */
    border-radius: 8px;
    padding: 10px;
    color: #CD6C17; /* Burnt Orange Text */
    margin-top: 10px;
}

.answerDisplay p {
    margin: 0;
    color: #CD6C17; /* Burnt Orange Text */
}
