/* ReportUploader.css */
.uploader {
    border: 2px dashed #550F08;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    height: relative;
    background: rgba(255, 255, 255, 0.4); /* Semi-transparent white background */
    backdrop-filter: blur(8px); /* Apply blur effect */
    border-radius: 8px; /* Optional: Add rounded corners */
    color: #CD6C17;
}

.uploader input {
    color: #CD6C17; /* Burnt Orange */
}

.uploader p {
    margin-top: 10px;
    font-style: italic;
    color: #CD6C17; /* Burnt Orange Text Color */
}

.uploader:hover {
    background: rgba(255, 255, 255, 0.2); /* Slight Hover Effect */
}
